.modal-factura .modal-wrapper {
  border-radius: 15px;
  max-width: 400px;
  margin: auto;
}

.modal-factura ion-content {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #333;
}

.modal-factura h3 {
  color: #0057d9; /* azul primario */
  font-weight: bold;
}

.modal-factura hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

.modal-factura ion-toolbar {
  --background: #0057d9;
}
